<footer>
    <ul class="footer-menu list-inline">
        <li><i class="fa fa-copyright fa-fw"></i> 2015 Arka Roy</li>
        <li class="menu-separator"></li>
        <li><a href="http://www.facebook.com/{{ site.author.facebook }}" target="_blank" title="Facebook">Facebook</a></li>
        <li class="menu-separator"></li>
        <li><a href="http://www.twitter.com/{{ site.author.twitter }}" target="_blank" title="Twitter">Twitter</a></li>
        <li class="menu-separator"></li>
        <li><a href="https://plus.google.com/+{{ site.author.googleplus }}" target="_blank" title="Google+">Google+</a></li>
        <li class="menu-separator"></li>
        <li><a href="https://www.linkedin.com/in/{{ site.author.linkedin }}" target="_blank" title="LinkedIn">LinkedIn</a></li>
        <li class="menu-separator"></li>
        <li><a href="http://www.behance.net/{{ site.author.behance }}" target="_blank" title="Behance">Behance</a></li>
        <li class="menu-separator"></li>
        <li><a href="http://www.github.com/{{ site.author.github }}" target="_blank" title="Github">Github</a></li>
    </ul>    
</footer>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/assets/js/script.js"></script>