
html {
    height: 100%;
    font-size: 16*$px;
}

body {
    font-family: $base-font;
    background-color: #fff;
    font-size: 16*$px;
    color: $text-color;
    font-weight: 400;
    line-height: $phi;
    min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font;
    font-weight: 400;
    color: inherit;
    line-height: 1.313;
}

h1 {
    font-size: 3rem;
    margin: 0.563em 0;
}

h2 {
    font-size: 2.25rem;
    margin: 0.625em 0;
}

h3 {
    font-size: 1.5rem;
    margin: 1.313em 0;
}

h4 {
    font-size: 1.313rem;
    margin: 1.313em 0;
}

h5 {
    font-size: 1.125rem;
    margin: 1.313em 0;
}

h6 {
    font-size: 1rem;
    margin: 0.75em 0;
}

p {
    margin: 0 0 10px;
    line-height: $phi;
}

a {
    color: $theme-color;
    transition: all 0.4s;
    text-decoration: none;

    &:hover, &:focus, &:active {
        text-decoration: none;
        color: $dark-color;
    }
}

code {
    display: inline-block;
    color: #111;
    background: lighten($theme-color, 56%);
    font-size: 0.9em;
    padding: 0 5px;
}
pre {
    font-size: $font-size;
    color: $dark-color;
    border: 0;
    border-left: 4px solid $theme-color;
    background: lighten($theme-color, 56%);
    border-radius: 0;
    word-break: normal;
    word-wrap: normal;
    padding: 10px;

    code {
        background: none;
        color: #111;
        padding: 0;
    }
}

.clearfix{
    &:after {
        display: block;
        width: 100%;
        height: 0;
        overflow: hidden;
        content: "";
        clear: both;
    }
}

.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-justify {
    text-align: justify;
}
.text-nowrap {
    white-space: nowrap;
}
.text-lowercase {
    text-transform: lowercase;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-capitalize {
    text-transform: capitalize;
}
.text-muted {
    color: #777;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.rounded {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
}

.list-inline {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        display: inline-block;
    }
    li.menu-separator {
        &:before {
            content: "/";
            margin: 0 4px;
            color: lighten($theme-color, 50%);
        }
    }
}

.post-listing-nav {
    li {
        float: left;
        border:1px solid #ccc;
        border-right:0;
        &:first-child {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }
        &:last-child {
            border-right: 1px solid #ccc;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
    }
    a, span {
        display: block;
        padding: 6px 12px;
    }
    a {
        color: #222;
    }
    .current {
        color: #fff;
        background-color: $theme-color;
    }
}

.posts-nav-links {
    a {
        display: block;
        border-top: 1px solid #aaa;
        border-bottom: 1px solid #aaa;
        padding: 12px 0;
        color: #222;
        text-align:center;
        h4, h5 {
            margin: 0;
            font-weight: 400;
        }
        &:hover {
            h4 {
                color: $theme-color;
            }
        }
        &.previous-post-link {
            margin-top: -1px;
        }
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }
}