
footer.page-footer {
    color: #aaa;
    margin-top: 80px;
    font-size: 0.85em;
    border-top: 1px solid #ccc;
    padding: 10px 0;
    a {
        color: #999;
        &:hover {
            color: #666;
        }
    }
    .menu-separator {
        &:before {
            color: #aaa !important;
            margin: 0 2px !important;
        }
    }
}