.page-header { 
    header {
        text-align: center;

        &, a {
            color: #fff;
        }

        .logo {
            i, span {
                display: block;
            }
            i {
                font-size: 4em;
                margin-bottom: 10px;
            }
            span {
                font-size: 2em;
            }
        }

        p {
            margin: ($phi*1em) auto;
            max-width: 500px;
            color: lighten($theme-color, 50%);
        }
    }
}

.main-menu {
    li {
        a {
            margin: 0;
            color:#fff;
            padding-bottom: 2px;
            border-bottom:1px solid transparent;
            &:hover {
                border-color: #fff;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .page-header:not(.home) {
        header {
            .logo {
                i {
                    font-size: 2em;
                }
                span {
                    display: none;
                }
            }
            p {
                display: none;
            }
        }
    }
}