$facebook: #3b5998;
$twitter: #55acee;
$googleplus: #dd4b39;
$linkedin: #0976b4;
$pinterest: #cc2127;
$stumbleupon: #eb4924;
$delicious: #3399ff;
$reddit: #ff4500;
$buffer: #323b43;

.social-share {
    margin: 30px 0;
    a {
        display: block;
        float: left;
        background-color: #ccc;
        color: #fff;
        margin-right:10px;
        i, span {
            line-height: 40px;
            display:block;
            float: left;
            height: 40px;
            padding: 0 8px;
            text-align: center;
        }
        i {
            font-size: 24*$px;
            min-width: 40px;
        }
        span {
            min-width: 48px;
        }
        &:hover, &:active, &:focus {
            color: #fff;
        }
        @extend .clearfix;
    }
}

.social-popularity-analyzer-results {
    display: none;
}

.facebook {
    background-color: $facebook !important;
    span {
        background-color: darken($facebook, 10%);
    }
}
.facebook-border {
    border-color: $facebook !important;
}
.twitter {
    background-color: $twitter !important;
    span {
        background-color: darken($twitter, 10%);
    }
}
.twitter-border {
    border-color: $twitter !important;
}
.googleplus {
    background-color: $googleplus !important;
    span {
        background-color: darken($googleplus, 10%);
    }
}
.googleplus-border {
    border-color: $googleplus !important;
}
.linkedin {
    background-color: $linkedin !important;
    span {
        background-color: darken($linkedin, 10%);
    }
}
.linkedin-border {
    border-color: $linkedin !important;
}
.pinterest {
    background-color: $pinterest !important;
    span {
        background-color: darken($pinterest, 10%);
    }
}
.pinterest-border {
    border-color: $pinterest !important;
}
.stumbleupon {
    background-color: $stumbleupon !important;
    span {
        background-color: darken($stumbleupon, 10%);
    }
}
.stumbleupon-border {
    border-color: $stumbleupon !important;
}
.delicious {
    background-color: $delicious !important;
    span {
        background-color: darken($delicious, 10%);
    }
}
.delicious-border {
    border-color: $delicious !important;
}
.reddit {
    background-color: $reddit !important;
    span {
        background-color: darken($reddit, 10%);
    }
}
.reddit-border {
    border-color: $reddit !important;
}
.buffer {
    background-color: $buffer !important;
    span {
        background-color: darken($buffer, 10%);
    }
}
.buffer-border {
    border-color: $buffer !important;
}



.social-popularity-analyzer-form label,
.social-popularity-analyzer-form input,
.social-popularity-analyzer-form button {
    display: block;
    float: left;
    line-height: 1.4;
    padding: 8px;
    border: 1px solid black;
}
.social-popularity-analyzer-form label {
    width:44px;
    background-color: #eee;
    border-color: #aaa;
    color: #999;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.social-popularity-analyzer-form input {
    text-align: left;
    border-left: 0;
    border-right: 0;
    border-color: #aaa;
    width: calc(100% - 184px);
}
.social-popularity-analyzer-form button {
    width: 140px;
    color: #fff;
    background-color: $theme-color;
    border-color: $dark-color;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    &:hover, &:focus, &:active, &.busy {
        background-color: $dark-color;
    }
}
.social-popularity-analyzer-form label,
.social-popularity-analyzer-form button {
    text-align: center;
}

@media screen and (max-width: 480px) {
    .social-popularity-analyzer-form {
        button {
            span {
                display: none;
            }
            width: 48px;
        }
        input {
            width: calc(100% - 92px);
        }
    }
}