$phi: 1.618;
$base-font: "PT Sans", sans-serif;
$heading-font: "PT Sans", sans-serif;
$font-size: 16;
$px: (1 / $font-size) * 1rem;
$text-color: #333;
$theme-color: #0072bc;
$dark-color: #0054a6;

$facebook: #3b5998;
$twitter: #55acee;
$googleplus: #dd4b39;
$linkedin: #0976b4;
$pinterest: #cc2127;
$stumbleupon: #eb4924;
$delicious: #3399ff;
$reddit: #ff4500;
$buffer: #323b43;
$behance: #1769ff;
$github: #333333;