---
# Main style
---

@import "reset";
@import "base";
@import "layout";
@import "entry";
@import "icomoon";
@import "fontawesome";
@import "header";
@import "footer";

.social-media-links {
    a {
        display: inline-block;
        background-color: $theme-color;
        color: #fff;
        line-height:30px;
        border:2px solid $theme-color;
        min-width:130px;
        margin: 0 10px 10px 0;
        i {
            width:30px;
            text-align:center;
            line-height:30px;
            background:#fff;
            color:$theme-color;
        }
        span {
            margin:0 10px 0 5px;
            font-size:0.9em;
        }
        &:hover {
            background-color: #fff;
            color:$theme-color;
            i {
                color: #fff;
                background-color: $theme-color;
            }
        }
    }
}

@import "button";

.portfolio-thumbs {
    display: inline-block;
    max-width: 280px;
    margin: 0 10px 10px 0;
    vertical-align: top;
}
.portfolio-thumbs img,
.portfolio-thumbs span {
    display: block;
}
.portfolio-thumbs img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
}
.portfolio-thumbs:hover img {
    border-color: #666;
}
.portfolio-thumbs span {
    margin-top: 10px;
}

.other-projects-list {
    list-style: none;
    padding: 0;
}

.form input,
.form textarea {
    display: block;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom:20px;
    @extend .rounded;
}
.form input:hover,
.form textarea:hover {
    border-color: #aaa;
}
.form input:focus,
.form input:active,
.form textarea:focus,
.form textarea:active {
    border-color: $theme-color;
    outline: 0;
}
.form button:hover,
.form button:active {
    outline: 0;
}
.form input.error {
    border-color: #a00;
}
.form-sending,
.form-sent {
    padding: 60px 15px;
    display: none;
}

.spa-result {
    margin-top:20px;
    border:1px solid #ccc;
    label {
        display:block;
    }
    .header {
        padding:2px 20px;
        h5 {
            color: #fff;
            i {
                float:right;
            }
        }
    }
    .body {
        padding: 20px;
    }
}

@import "social";
@import "print";