---
# Main style
---

@import "reset";
@import "vars";
@import "base";
@import "layout";
@import "entry";
@import "icomoon";
@import "fontawesome";
@import "header";
@import "footer";

.social-media-links {
    a {
        display: block;
        float: left;
        background-color: #ccc;
        color: #fff;
        margin-right:10px;
        margin-bottom:10px;
        i {
            line-height: 40px;
            display:block;
            float: left;
            height: 40px;
            padding: 0 8px;
            text-align: center;
            font-size: 24*$px;
            min-width: 40px;
        }
        span {
            min-width: 48px;
        }
        &:hover, &:active, &:focus {
            color: #fff;
        }
        @extend .clearfix;
    }
}

@import "button";

.portfolio-thumbs {
    display: inline-block;
    max-width: 280px;
    margin: 0 10px 10px 0;
    vertical-align: top;
}
.portfolio-thumbs img,
.portfolio-thumbs span {
    display: block;
}
.portfolio-thumbs img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
}
.portfolio-thumbs:hover img {
    border-color: #666;
}
.portfolio-thumbs span {
    margin-top: 10px;
}

.other-projects-list {
    list-style: none;
    padding: 0;
}

.form input,
.form textarea {
    display: block;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom:20px;
    @extend .rounded;
}
.form input:hover,
.form textarea:hover {
    border-color: #aaa;
}
.form input:focus,
.form input:active,
.form textarea:focus,
.form textarea:active {
    border-color: $theme-color;
    outline: 0;
}
.form button:hover,
.form button:active {
    outline: 0;
}
.form input.error {
    border-color: #a00;
}
.form-sending,
.form-sent {
    padding: 60px 15px;
    display: none;
}

.spa-result {
    margin-top:20px;
    border:1px solid #ccc;
    label {
        display:block;
    }
    .header {
        padding:2px 20px;
        h5 {
            color: #fff;
            i {
                float:right;
            }
        }
    }
    .body {
        padding: 20px;
    }
}

@import "social";
@import "print";