---
layout: default
---

<div class="entry post-entry single">

    <header class="entry-header">
        <h1 class="entry-title">{{ page.title }}</h1>
        <p class="entry-meta"><em>{{ page.date | date: "%b %-d, %Y" }} by {{ site.author.name }}</em></p>
        {% include social-share.html %}
        {% if page.thumbnail %}
        <img src="{{ site.url }}{{ site.img }}{{ page.thumbnail }}.jpg" alt="{{ page.title }}" class="entry-thumbnail">
        {% include social-share.html %}
        {% else %}
        <br>
        {% endif %}
    </header>

    <article class="entry-content">
        {{ content }}
    </article>
    
</div>

{% include social-share.html %}

<br>

<div class="posts-nav-links clearfix">
    {% if page.next_in_category != nil %}
    <a href="{{page.next_in_category.url}}" class="next-post-link" title="{{page.next_in_category.title}}">
        <h4>Previous Post</h4>
        <h5>{{page.next_in_category.title}}</h5>
    </a>
    {% endif %}
    {% if page.previous_in_category != nil %}
    <a href="{{page.previous_in_category.url}}" class="previous-post-link" title="{{page.previous_in_category.title}}">
        <h4>Next Post</h4>
        <h5>{{page.previous_in_category.title}}</h5>
    </a>
    {% endif %}
</div>